/* stlye css는 다른 css를 임포트 하는 용도로 쓰는게 좋음 */
/* 
순서
1. 폰트
2. 스타일 리셋
3. variables 파일 import (내가 정한 변수들)
4. 작업할 페이지들 */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "reset.css";
@import "variables.css";
/*Components*/
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-raw.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/alte-screen-header.css";
@import "screens/settings.css";
@import "screens/chat.css";

/* 
모든 화면에 동일하게 적용되는 속성은 바디에
예를들면 폰트나 배경색 등 */
body {
  font-family: "Open Sans", sans-serif;
  color: #2e363e;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
